<div class="page-layout page-social">
	<div class="inner">

		<div class="layout-col layout-col-1">
			<header class="page-header">
				<div class="header-item">
					<h3 class="label">
						Social Media
					</h3>
					<div class="content">
						<div class="text-block">
							<span class="text-1">
								Youtube
							</span>
							<svg viewBox="0 0 800 600" width="42" height="42" style="vertical-align: text-bottom;">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-youtube"></use>
							</svg>
						</div>
					</div>
				</div>
			</header>
			<div class="banner-image">
				<!-- 560 x 315 Originally -->
				<iframe width="784" height="441" src="https://www.youtube.com/embed/j4l9x5dT6X0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>

		<div class="layout-col layout-col-2">
			<header class="page-header">
				<div class="header-item">
					<h3 class="label">
						Social Media
					</h3>
					<div class="content">
						<div class="text-block">
							<span class="text-1">
								Twitter
							</span>
							<svg viewBox="0 0 800 600" width="42" height="42" style="vertical-align: text-bottom;">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-twitter"></use>
							</svg>
						</div>
					</div>
				</div>
			</header>
			<a class="twitter-timeline" data-chrome="transparent noborders noheader nofooter noscrollbar" data-width="315" data-height="441" data-dnt="true" data-theme="dark" href="https://twitter.com/TeamHyperdrive">Tweets by TeamHyperdrive</a>
		</div>
	</div>

	<div class='social-footer'>
		<div class="inner">
			<div class="sponsor-logos">
				<img src="assets/img/logos-1.jpg" alt="">
			</div>
		</div>
	</div>
</div>

@@include('../snippets/twitter-js.html')
