<header class="site-header">
	<div class="inner">
		<nav class="site-nav">
			<a href="/" class="home-button"></a>

			<div class="logo">
				<svg viewBox="0 0 113.2 14.2" width="113" height="14">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-hyperdrive-1"></use>
				</svg>
			</div>
			<h1 class="page-name">
				<span class="text-1 js-page-name">

				</span>
				<span class="text-2">
					Screen
				</span>
				<span class="number js-page-number">

				</span>
			</h1>

			<div class="nav-bars">
				<svg xmlns="http://www.w3.org/2000/svg" width="88.6" height="48.4" viewBox="0 0 88.6 48.4" class="js-page-links">
					<a xlink:href="/graph" data-page-number="01">
						<path d="M32.5,0L31,4L16.2,44.4c-0.8,2.2-3.4,4-5.7,4H0l1.5-4L16.3,4c0.8-2.2,3.4-4,5.7-4H32.5z"/>
					</a>
					<a xlink:href="/timing" data-page-number="02">
						<path d="M51.2,0l-1.5,4L34.9,44.4c-0.8,2.2-3.4,4-5.7,4H18.7l1.5-4L35,4c0.8-2.2,3.4-4,5.7-4H51.2z"/>
					</a>
					<a xlink:href="/analysis" data-page-number="03">
						<path d="M69.9,0l-1.5,4L53.6,44.4c-0.8,2.2-3.4,4-5.7,4H37.4l1.5-4L53.7,4c0.8-2.2,3.4-4,5.7-4H69.9z"/>
					</a>
					<a xlink:href="/social" data-page-number="04">
						<path d="M88.6,0l-1.5,4L72.3,44.4c-0.8,2.2-3.4,4-5.7,4H56.1l1.5-4L72.4,4c0.8-2.2,3.4-4,5.7-4H88.6z"/>
					</a>
				</svg>
			</div>
		</nav>

		<div class="event-details">

			<div class="map">
				<svg viewBox="0 0 83.5 76.2" width="83" height="76">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-au-map-1"></use>
				</svg>
			</div>

			<div class="text">
				<h2 class="title">
					<span class="text-1">Australian</span>
					<span class="text-2">National Finals</span>
				</h2>
				<div class="address">
					Adelaide, Australia
				</div>
				<div class="date">
					<!-- JavaScript is handling this now. See site-header.js -->
				</div>
			</div>
		</div>
	</div>
</header>
