.graph-tooltip {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 300px;
	height: 45px;
	overflow: hidden;
	pointer-events: none;
	display: none;

	&:after {
		content: "";
		position: absolute;
		z-index: 1;
		left: -14px;
		bottom: -12px;
		width: 20px;
		height: 100%;
		background: #fff;
		transform: skew(-45deg);
	}

	.tooltip-content {
		position: relative;
		z-index: 2;
		font-size: 0;

		& > div {
			display: inline-block;
			vertical-align: top;
			height: 28px;
		}
	}

	.name {
		background: #fff;

		.text {
			display: block;
			@include font-1-bold;
			font-size: 12px;
			color: #000;
			padding: 8px 20px 4px 12px;
		}
	}

	.time {
		position: relative;
		z-index: 1;

		&:after {
			content: "";
			position: absolute;
			z-index: -1;
			left: -6px;
			top: 0;
			width: calc(100% + 18px);
			height: 100%;
			background: $color-iron-1;
			transform: skew(-20deg);
		}
		
		.text-1 {
			position: relative;
			display: inline-block;
			@include font-2-bold;
			font-size: 18px;
			color: #000;
			padding: 4px 18px 4px 8px;

			&[data-value-type] {
				&:after {
					content: attr(data-value-type);
					display: inline-block;
					@include font-2-regular;
					font-size: 8px;
					padding-left: 2px;
				}
			}
		}
	}

	.value {
		position: relative;
		z-index: 1;

		&:after {
			content: "";
			position: absolute;
			z-index: -1;
			left: -6px;
			top: 0;
			width: calc(100% + 18px);
			height: 100%;
			background: $color-chateau-green-1;
			transform: skew(-20deg);
		}
		
		.text-1 {
			position: relative;
			display: inline-block;
			@include font-2-bold;
			font-size: 18px;
			color: #fff;
			padding: 4px 0 4px 8px;

			&[data-value-type] {
				&:after {
					content: attr(data-value-type);
					display: inline-block;
					@include font-2-regular;
					font-size: 8px;
					padding-left: 2px;
				}
			}
		}
	}
}